<div class="container">
<div><h1>Our Story</h1>
<p> We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. 
    Fans were given situations where they had to come up with wacky and fun excuses. The person 
    with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their 
    enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!</p>
<p>Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist 
    the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been 
    leaving the stage in the middle of a performance and even finding excuses to be disqualified 
    in a football match.</p>
<p>We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given 
    situations where they had to come up with wacky and fun excuses. The person with the best 
    excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic response 
    proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
</p>
</div>

<div class="d-flex gap-3 align-items-center justify-content-sm-between">
<img src="https://www.southernliving.com/thmb/Kgp7IvVbG8YHqDzKswiBXPnTb0k=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Supreme_Pizza_001-10f72a0b941f4e179242e29497a26523.jpg" height="350" width="550" alt="ingridients">
<div>
    <h2>Ingridients</h2>
    <p>We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce 
        leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. 
        Steam. Steam. Stir Stir. While they're still young and fresh - that's our motto. 
        It makes the kitchen a better place.</p>
</div>
</div>

<div class="d-flex gap-12  align-items-center justify-content-sm-around">
<div>
    <h2>Our Chef</h2>
    <p>They make sauces sing and salads dance. They create magic with skill, knowledge, 
        passion, and stirring spoons (among other things). They make goodness so good, 
        it doesn't know what to do with itself. We do though. We send it to you.</p>
</div>
<img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="chef">
</div>

<div class="d-flex gap-3 align-items-center">
    <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" alt="timer">
    <h1>45 min Delivery</h1>
</div>
</div>